@import url('https://fonts.googleapis.com/css?family=Outfit');

//custom variables
$primary: #ff6ab2;
$secondary: #49d362;
$light: #f5e7ee;
$dark: #17090f;

$border-radius: 1.5rem;

$font-family-sans-serif: "Outfit", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

//import the functions & variables
@import "../../node_modules/bootstrap/scss/_functions";
@import "../../node_modules/bootstrap/scss/_variables";

$custom-theme-colors: (
    "accent": #28dbfe,
    "transparent": transparent
);

$theme-colors: map-merge($custom-theme-colors, $theme-colors);

// import bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap.scss';